header {
  width: 100%;
  position: relative; }

.inner-header {
  width: 100%;
  font-size: 1.2em;
  padding: 20px 10px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #2c3e50;
  color: #fff; }

.site-title-contain {
  width: 75%;
  padding: 4px; }

.site-title {
  color: #fff; }

.menu-toggle {
  width: 25%;
  font-size: 1.5em; }

nav {
  display: none; }
  nav ul {
    padding: 0;
    list-style-type: none; }
    nav ul li {
      padding: 10px 10px;
      background: nav ul li;
        background-background: #34495e; }
      nav ul li a {
        color: #34495e; }

code {
  display: block;
  margin: 20px 0;
  font-size: 0.7em; }

html {
  font-size: 18px;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-family: Arial, sans-serif; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0; }

.site-wrapper {
  margin: 0 auto;
  max-width: 960px;
  overflow-x: hidden; }

.content-wrap {
  width: 90%;
  margin: 50px auto; }
