<header>
    <div class="wrapper">
    
        <a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>
        <div class="header-content">
            <h1 class="main-title">Hello World 48.00!</h1>
        </div>
    </div>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/about/index.html">About</a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </li>
        </ul>
    </nav>
</header>


