
  
<div class="site-wrap">
  <header>
   <div class="inner-header">
        <div class="site-title-contain">
            <a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>
        </div> 
        <div class="menu-toggle">
            <i class="fa fa-bars"></i>
        </div> 
    </div>
    
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/about">About</a>
            </li>
            <li class="nav-item">
                <a href="#">Item 2</a>
            </li>
            <li class="nav-item">
                <a href="#">Item 3</a>
            </li>
            <li class="nav-item">
                <a href="#">Item 4</a>
            </li>
            <li class="nav-item">
                <a href="#">Item 5</a>
            </li>
        </ul>
    </nav>
</header>


