// Colors
$header-bg: #2c3e50;

$primary-font-col: #fff;
$secondary-font-col: #000;


$nav-link-hov: #34495e;

header {
    width: 100%;
    position: relative;
}
.inner-header {
    width: 100%;
    font-size: 1.2em;
    padding: 20px 10px;
    display: inline-flex;
    background: $header-bg;
    color: $primary-font-col;
}
.site-title-contain {
    width: 75%;
    padding: 4px;
}
.site-title {
    color: $primary-font-col;
}
.menu-toggle {
    width: 25%;
    font-size: 1.5em;
}
nav {
    display: none;
    ul {
        padding: 0;
        list-style-type: none;
        li {
            padding: 10px 10px;
            background: 
            &:hover {
                background: $nav-link-hov;
                }
            a {
                color: $nav-link-hov;
            }
        }
    }
}