// Imports

@import 'header';
// Generic
code {
    display: block;
    margin: 20px 0;
    font-size: 0.7em;
}
// Structure
html {
    font-size: 18px;
    font-kerning: auto;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}
.site-wrap {
    overflow-x: hidden;
}
.site-wrapper {
    margin: 0 auto;
    max-width: 960px;
    overflow-x: hidden;
}
.content-wrap {
    width: 90%;
    margin: 50px auto;
}



footer {}
