// Variables
$bodyWhite: #fff;
$bodyFontGrey: #4d4d4d;
$diamondColor: #1abc9c;
$primaryFontCol: #e74c3c;



// Imports
@import 'partials/ui';
@import 'partials/fonts';
@import 'partials/header';
@import 'partials/footer';

