<!DOCTYPE html>
<html>
  
  <!-- Inject head -->
  {% include head.html %}

<body>

  <div class="site-wrap">
      
      <!-- Inject Header -->
      {% include header.html %}

      <!-- Main Container -->  
      <div class="site-content">
        {{ content }}
      </div>

      <!-- Inject Footer -->
      {% include footer.html %}
    
  </div>

  <!-- JavaScript Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/scripts.min.js"></script>
</body>
</html>
